body {
    color: white;
    background: #2727ff;
    font-family: "Roboto", Arial, Helvetica, sans-serif;
}

h1 {
    font-size: 64px;
    line-height: 56px;
}

h1 strong {
    /* color: #00e5fc; */
    color: yellow;
}

header ul li a {
    color: white;
    text-decoration: none;
    margin-right: 15px;
}

header ul {
    list-style: none;
    padding-left: 0;
}

header ul li {
    display: inline;
}

header,
main,
footer {
    width: 80%;
    margin: 0 auto; /*centralizar caixas na página*/
    /* border: dotted yellow; */
}

header {
    padding: 12px 0 12px 0;
}

footer {
    background: #00e5fc;
}

/* Estilização do layout */

section {
    box-sizing: border-box;
    float: left;
}

.secao-conteudo {
    width: 80%;
}
.secao-imagem {
    width: 20%;
}

footer {
    float: left;
    height: 50px;
}